@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}


.light-theme {
    --text-color: 200, 15%, 8%;
    --input-color: 0, 0%, 52%;
    --background-color: 0, 0%, 98%;
    --elements-color: 0, 0%, 100%;
    --text-placeholder: 0, 0%, 52%;
}

.dark-theme {
    --text-color: 0, 0%, 100%;
    --input-color: 0, 0%, 52%;
    --background-color: 207, 26%, 17%;
    --elements-color: 209, 23%, 22%;
    --text-placeholder: 0, 0%, 100%;
}

