---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="bg-background">
			<h1 class="text-color-text">Hello Skivadev</h1>

			<div class="bg-elements">
				<p class="">adsadasdadwltexto</p>
			</div>
		</div>
	</main>
</Layout>


