---
// ComboBox.astro
---

<div class="relative inline-block w-[200px] shadow-md">
  <button
    type="button"
    class="combobox-toggle flex justify-between items-center w-full bg-elements border border-gray-300 rounded-md px-[21px] py-[15px] text-left focus:outline-none text-[14px] font-semibold"
  >
    <p class="combobox-selected">Filter by Region</p>
    <span class="float-right">&#x25BC;</span> <!-- Down arrow -->
  </button>

  <ul
    id="dropdown-menu"
    class="hidden absolute left-0 right-0 mt-2 bg-elements border border-gray-300 rounded-md shadow-lg z-10"
  >
    <li class="px-4 py-2 hover:bg-gray-400 cursor-pointer">All</li>
    <li class="px-4 py-2 hover:bg-gray-400 cursor-pointer">Africa</li>
    <li class="px-4 py-2 hover:bg-gray-400 cursor-pointer">Americas</li>
    <li class="px-4 py-2 hover:bg-gray-400 cursor-pointer">Asia</li>
    <li class="px-4 py-2 hover:bg-gray-400 cursor-pointer">Europe</li>
    <li class="px-4 py-2 hover:bg-gray-400 cursor-pointer">Oceania</li>
  </ul>
</div>

<script>
  import { selectedRegion } from "../store.js";

  document.addEventListener("DOMContentLoaded", () => {
    const button = document.querySelector(".combobox-toggle");
    const selectedText = document.querySelector(".combobox-selected");
    const dropdownMenu = document.getElementById("dropdown-menu");
    const regions = dropdownMenu ? dropdownMenu.querySelectorAll("li") : [];

    let isOpen = false;

    button?.addEventListener("click", (event) => {
      isOpen = !isOpen;
      dropdownMenu?.classList.toggle("hidden", !isOpen);
      event.stopPropagation();
    });

    // Cerrar el menú si se hace clic fuera de él
    document.addEventListener("click", () => {
      if (isOpen) {
        isOpen = false;
        dropdownMenu?.classList.add("hidden");
      }
    });

    // Actualizar el texto del botón con la región seleccionada
    regions.forEach((region) => {
      region.addEventListener("click", () => {
        const regionText = region.textContent?.trim() || "Filter by Region";
        selectedText ? selectedText.textContent = regionText : null;
        isOpen = false;
        dropdownMenu?.classList.add("hidden");
        selectedRegion.set(regionText.toLowerCase());
      });
    });

  });
</script>
